.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.692383;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{width:2.256000px;}
._4{width:6.864000px;}
._2{width:9.312000px;}
._3{width:14.112000px;}
._9{width:24.000000px;}
._c{width:36.000000px;}
._1{width:152.016000px;}
._0{width:229.344000px;}
._6{width:308.064000px;}
._b{width:348.000000px;}
._a{width:420.000000px;}
._7{width:463.968000px;}
._8{width:433.360000px;}
.fc1{color:rgb(84,141,212);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:32.000000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:72.000000px;}
.y0{bottom:207.500000px;}
.y1d{bottom:209.928031px;}
.y1c{bottom:267.424003px;}
.y1b{bottom:281.223014px;}
.y1a{bottom:295.022025px;}
.y19{bottom:308.820975px;}
.y18{bottom:368.154990px;}
.y17{bottom:399.891013px;}
.y16{bottom:415.758994px;}
.y15{bottom:431.857993px;}
.y14{bottom:445.657004px;}
.y13{bottom:473.254996px;}
.y12{bottom:500.852988px;}
.y11{bottom:533.738987px;}
.y10{bottom:549.606991px;}
.yf{bottom:565.474991px;}
.ye{bottom:581.342991px;}
.yd{bottom:597.210990px;}
.yc{bottom:624.808997px;}
.yb{bottom:654.476005px;}
.ya{bottom:670.344001px;}
.y9{bottom:686.211997px;}
.y8{bottom:713.810004px;}
.y7{bottom:727.609000px;}
.y6{bottom:755.207000px;}
.y5{bottom:793.438002px;}
.y4{bottom:802.636999px;}
.y3{bottom:814.000000px;}
.y2{bottom:834.698000px;}
.y1{bottom:855.396000px;}
.h3{height:22.234375px;}
.h5{height:32.507812px;}
.h6{height:32.531250px;}
.h4{height:33.351562px;}
.h2{height:48.796875px;}
.h1{height:662.500000px;}
.h0{height:936.000000px;}
.w1{width:439.000000px;}
.w0{width:610.000000px;}
.x0{left:89.500000px;}
.x6{left:125.849998px;}
.x1{left:178.840998px;}
.x2{left:192.609997px;}
.x3{left:194.103996px;}
.x5{left:216.755997px;}
.x8{left:233.849998px;}
.x4{left:236.868999px;}
.x7{left:269.849998px;}
.x9{left:305.849998px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{width:3.008000pt;}
._4{width:9.152000pt;}
._2{width:12.416000pt;}
._3{width:18.816000pt;}
._9{width:32.000000pt;}
._c{width:48.000000pt;}
._1{width:202.688000pt;}
._0{width:305.792000pt;}
._6{width:410.752000pt;}
._b{width:464.000000pt;}
._a{width:560.000000pt;}
._7{width:618.624000pt;}
._8{width:764.480000pt;}
.fs1{font-size:42.666667pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:96.000000pt;}
.y0{bottom:276.666667pt;}
.y1d{bottom:279.904041pt;}
.y1c{bottom:356.565337pt;}
.y1b{bottom:374.964018pt;}
.y1a{bottom:393.362700pt;}
.y19{bottom:411.761300pt;}
.y18{bottom:490.873320pt;}
.y17{bottom:533.188018pt;}
.y16{bottom:554.345325pt;}
.y15{bottom:575.810657pt;}
.y14{bottom:594.209339pt;}
.y13{bottom:631.006662pt;}
.y12{bottom:667.803984pt;}
.y11{bottom:711.651983pt;}
.y10{bottom:732.809321pt;}
.yf{bottom:753.966654pt;}
.ye{bottom:775.123988pt;}
.yd{bottom:796.281320pt;}
.yc{bottom:833.078663pt;}
.yb{bottom:872.634673pt;}
.ya{bottom:893.792001pt;}
.y9{bottom:914.949329pt;}
.y8{bottom:951.746672pt;}
.y7{bottom:970.145334pt;}
.y6{bottom:1006.942666pt;}
.y5{bottom:1057.917336pt;}
.y4{bottom:1070.182666pt;}
.y3{bottom:1085.333333pt;}
.y2{bottom:1112.930667pt;}
.y1{bottom:1140.528000pt;}
.h3{height:29.645833pt;}
.h5{height:43.343750pt;}
.h6{height:43.375000pt;}
.h4{height:44.468750pt;}
.h2{height:65.062500pt;}
.h1{height:883.333333pt;}
.h0{height:1248.000000pt;}
.w1{width:585.333333pt;}
.w0{width:813.333333pt;}
.x0{left:119.333333pt;}
.x6{left:167.799998pt;}
.x1{left:238.454664pt;}
.x2{left:256.813329pt;}
.x3{left:258.805328pt;}
.x5{left:289.007996pt;}
.x8{left:311.799998pt;}
.x4{left:315.825333pt;}
.x7{left:359.799998pt;}
.x9{left:407.799998pt;}
}
