.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._b{width:3.360000px;}
._0{width:8.016000px;}
._c{width:24.000000px;}
._1{width:31.104000px;}
._f{width:36.000000px;}
._3{width:152.064000px;}
._8{width:157.440000px;}
._9{width:197.424000px;}
._5{width:313.344000px;}
._e{width:348.000000px;}
._6{width:386.736000px;}
._4{width:389.376000px;}
._a{width:404.064000px;}
._d{width:420.000000px;}
._2{width:425.376000px;}
._7{width:434.688000px;}
.fc1{color:rgb(84,141,212);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:32.000000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:60.000000px;}
.y0{bottom:0.000000px;}
.y4{bottom:7.223003px;}
.y3{bottom:24.472002px;}
.y2{bottom:41.721003px;}
.y1d{bottom:215.898978px;}
.y1c{bottom:273.395011px;}
.y1b{bottom:287.194022px;}
.y1a{bottom:300.992972px;}
.y19{bottom:314.791984px;}
.y18{bottom:358.257999px;}
.y17{bottom:374.125998px;}
.y16{bottom:387.925010px;}
.y15{bottom:401.723990px;}
.y14{bottom:429.322013px;}
.y13{bottom:456.920005px;}
.y12{bottom:487.736991px;}
.y11{bottom:524.533988px;}
.y10{bottom:552.132010px;}
.yf{bottom:579.730002px;}
.ye{bottom:593.529014px;}
.yd{bottom:607.327994px;}
.yc{bottom:634.926002px;}
.yb{bottom:662.523993px;}
.ya{bottom:693.341007px;}
.y9{bottom:709.209006px;}
.y8{bottom:746.006003px;}
.y7{bottom:759.804999px;}
.y6{bottom:798.036001px;}
.y5{bottom:807.235003px;}
.y1{bottom:815.524995px;}
.h3{height:22.234375px;}
.h4{height:32.531250px;}
.h5{height:33.351562px;}
.h2{height:40.664062px;}
.h1{height:56.100002px;}
.h0{height:936.000000px;}
.w1{width:390.650006px;}
.w0{width:610.000000px;}
.x0{left:0.000000px;}
.x2{left:58.651002px;}
.x3{left:70.124001px;}
.x4{left:71.370000px;}
.x9{left:89.849998px;}
.xa{left:125.849998px;}
.x1{left:147.475007px;}
.x6{left:184.855995px;}
.x5{left:204.969002px;}
.x7{left:207.601997px;}
.x8{left:219.118996px;}
.xc{left:233.849998px;}
.xb{left:269.849998px;}
.xd{left:305.849998px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._b{width:4.480000pt;}
._0{width:10.688000pt;}
._c{width:32.000000pt;}
._1{width:41.472000pt;}
._f{width:48.000000pt;}
._3{width:202.752000pt;}
._8{width:209.920000pt;}
._9{width:263.232000pt;}
._5{width:417.792000pt;}
._e{width:464.000000pt;}
._6{width:515.648000pt;}
._4{width:519.168000pt;}
._a{width:538.752000pt;}
._d{width:560.000000pt;}
._2{width:567.168000pt;}
._7{width:579.584000pt;}
.fs1{font-size:42.666667pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:80.000000pt;}
.y0{bottom:0.000000pt;}
.y4{bottom:9.630671pt;}
.y3{bottom:32.629336pt;}
.y2{bottom:55.628003pt;}
.y1d{bottom:287.865304pt;}
.y1c{bottom:364.526681pt;}
.y1b{bottom:382.925363pt;}
.y1a{bottom:401.323963pt;}
.y19{bottom:419.722645pt;}
.y18{bottom:477.677333pt;}
.y17{bottom:498.834665pt;}
.y16{bottom:517.233346pt;}
.y15{bottom:535.631987pt;}
.y14{bottom:572.429351pt;}
.y13{bottom:609.226673pt;}
.y12{bottom:650.315988pt;}
.y11{bottom:699.378651pt;}
.y10{bottom:736.176014pt;}
.yf{bottom:772.973337pt;}
.ye{bottom:791.372018pt;}
.yd{bottom:809.770659pt;}
.yc{bottom:846.568002pt;}
.yb{bottom:883.365325pt;}
.ya{bottom:924.454676pt;}
.y9{bottom:945.612008pt;}
.y8{bottom:994.674671pt;}
.y7{bottom:1013.073332pt;}
.y6{bottom:1064.048002pt;}
.y5{bottom:1076.313337pt;}
.y1{bottom:1087.366659pt;}
.h3{height:29.645833pt;}
.h4{height:43.375000pt;}
.h5{height:44.468750pt;}
.h2{height:54.218750pt;}
.h1{height:74.800003pt;}
.h0{height:1248.000000pt;}
.w1{width:520.866675pt;}
.w0{width:813.333333pt;}
.x0{left:0.000000pt;}
.x2{left:78.201336pt;}
.x3{left:93.498669pt;}
.x4{left:95.160000pt;}
.x9{left:119.799998pt;}
.xa{left:167.799998pt;}
.x1{left:196.633342pt;}
.x6{left:246.474660pt;}
.x5{left:273.292002pt;}
.x7{left:276.802663pt;}
.x8{left:292.158661pt;}
.xc{left:311.799998pt;}
.xb{left:359.799998pt;}
.xd{left:407.799998pt;}
}
